
body {
    background-color: lightslategray;
    margin-right: 20%;
    margin-left: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

h1 {
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: aliceblue;
}

img {
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 25%;
    margin-right: 25%;

}

header {
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;

}



footer {
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: aliceblue;
}